---
BasedOnStyle: Microsoft
AlignArrayOfStructures: None
AlignAfterOpenBracket: Align
Standard: Latest
UseTab: Always
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
...
