[submodule "vendor/WDL"]
	path = vendor/WDL
	url = https://github.com/justinfrankel/WDL
[submodule "vendor/mINI"]
	path = vendor/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/reaper-sdk"]
	path = vendor/reaper-sdk
	url = https://github.com/gu-on/reaper-sdk.git
